**/__pycache__
*.py[cod]
*.log
*.csv
*.json
*.xml
.pytest_cache/
.eggs/
*.egg-info/
dist/
build/
*.egg
.scrapy/
.vscode/

__pycache__
*.py[cod]
*.pyo
*.pyd
.Python
env/
*.log
*.csv
*.dat
*.out
*.pid
*.gz